<section id="bv_iconSlider-{{ section.id }}"class=""data-section="{{ section.id }}"style="background-color: #FFFFFF;">{%- comment -%}
  style sheet
  {%- endcomment -%}{{ 'bv_Asrecommendedby.css' | asset_url | stylesheet_tag }}
  {{ 'bv_common_css.css' | asset_url | stylesheet_tag }}
  {%- comment -%}
  add slider js
  {%- endcomment -%}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />{%- comment -%}
    style sheet
    {%- endcomment -%}<div
    class="bv_AsrecommendedbyContainer"
    id="bv_AsrecommendedbySection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="Asrecommendedby"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}"
    >
    <div class="bv_Asrecommendedby">
      <div class="bv_AsrecommendedbyTitle">
        <h4>As recommended by</h4>
      </div>
      <div class="bv_AsrecommendedbySlider">
        <div id="bv_AsrecommendedbyCarousel" class="carousel text-lg">
          <div class="carousel__viewport px-20">

            {% for block in section.blocks %}
              <figure class="carousel__slide ">
                {% if block.settings.bv_AsrecommendedbyIcon %}
                  <img
                    srcset="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: block.settings.image_width }}, {{ block.settings.bv_AsrecommendedbyIcon | image_url: width: image_size_2x }} 2x"
                    src="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: 50 }}"
                    alt="{{ block.settings.bv_AsrecommendedbyIcon.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.bv_AsrecommendedbyIcon.width }}"
                    height="{{ block.settings.bv_AsrecommendedbyIcon.height }}"
                    style="max-width: min(100%, {{ block.settings.image_width }}px);">
                {% else %}
                  <img src="https://i.ibb.co/xf7tB5N/Screenshot-2022-12-05-213717.png" alt="">
                {% endif %}
                {% if block.settings.bv_Transformation__title %}
                  <p>
                    {{ block.settings.bv_Transformation__title }}
                  </p>
                {% endif %}
              </figure>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- comment -%}
add slider js
{%- endcomment -%}<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

{{ 'carousel.autoplay.umd.js' | asset_url | script_tag }}


<script defer="defer">
  const bv_AsrecommendedbyCarousel = new Carousel(document.querySelector('#bv_AsrecommendedbyCarousel'), {
  Autoplay: {
          timeout: 1000
        },
        infinite: true,
        Dots: false,
        friction: 0.88,
        slidesPerPage: 1,
    
        Navigation: false,
        Dots: false
      });
      bv_AsrecommendedbyCarousel.plugins.Autoplay.start()</script>


{% schema %}
  {
    "name": "Transformation",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "Transformation",
        "name": "Transformation",
        "settings": [
          {
            "type": "text",
            "id": "bv_Transformation__title",
            "default": " Transformation",
            "label": "Add Transformation Title"
          }, {
            "type": "image_picker",
            "id": "bv_AsrecommendedbyIcon",
            "label": "Add Transformation Image icon"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "bv_TransformationText_heading",
        "default": "Transformation headline goes here",
        "label": "Add Transformation Heading"
      }
    ],
    "presets": [
      {
        "name": "Transformation",
        "settings": {},
        "blocks": [
          {
            "type": "Transformation"
          }, {
            "type": "Transformation"
          }, {
            "type": "Transformation"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}