<section id="bv_iconSlider-{{ section.id }}"class=""data-section="{{ section.id }}"style="background-color: #FFFFFF;">
  {%- comment -%}
  style sheet
  {%- endcomment -%}{% style %}
    .bv_AsrecommendedbyContainer {
      background-color: #F2F2F2;
    }
    .bv_Asrecommendedby {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #F2F2F2;
      padding: 20px;
      max-width: 1600px;
      margin: auto;

    }
    .bv_AsrecommendedbyTitle {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: auto;
    }
    .bv_AsrecommendedbyTitle h4 {
      width: max-content;
    }
    .figure_css {
      width: {{- block.settings.bv_figure_width -}}
      %;
    }
    /* Larger than tablet */
    @media(max-width: 750px) {
      .bv_Asrecommendedby {
        flex-direction: column;
      }
      .bv_AsrecommendedbyTitle h4 {
        width: auto;
        text-align: center;
      }
      .figure_css {
        width: {{- block.settings.bv_mobile_figure_width -}}
        %;
      }
    }
  {% endstyle %}
  {{ 'bv_common_css.css' | asset_url | stylesheet_tag }}
  {%- comment -%}
  add slider js
  {%- endcomment -%}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />{%- comment -%}
    style sheet
    {%- endcomment -%}<div
    class="bv_AsrecommendedbyContainer"
    id="bv_AsrecommendedbySection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="Asrecommendedby"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}">
    <div class="bv_Asrecommendedby">
      <div class="bv_AsrecommendedbyTitle">
        <h4 style="font-size:{{- section.settings.bv_Asrecommended_font_size -}}px">
          {{ section.settings.bv_AsrecommendedbyText_heading }}
        </h4>
      </div>
      <div class="bv_AsrecommendedbySlider">
        <div id="bv_AsrecommendedbyCarousel" class="carousel text-lg">
          <div class="carousel__viewport px-20">

            {% for block in section.blocks %}
              <figure class="carousel__slide figure_css" {{ block.shopify_attributes }}>
                {% if block.settings.bv_AsrecommendedbyIconhtml != blank %}
                  <p style="width: 50px;">
                    {{ block.settings.bv_AsrecommendedbyIconhtml }}
                  </p>
                {% elsif block.settings.bv_AsrecommendedbyIcon != blank %}

                  <img
                    srcset="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: block.settings.image_width }}, {{ block.settings.bv_AsrecommendedbyIcon | image_url: width: image_size_2x }} 2x"
                    src="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: 50 }}"
                    alt="{{ block.settings.bv_AsrecommendedbyIcon.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.bv_AsrecommendedbyIcon.width }}"
                    height="{{ block.settings.bv_AsrecommendedbyIcon.height }}"
                    style="max-width: min(100%, {{ block.settings.image_width }}px);">
                {% else %}
                  <img src="https://i.ibb.co/xf7tB5N/Screenshot-2022-12-05-213717.png" alt="">

                {% endif %}
              </figure>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- comment -%}
add slider js
{%- endcomment -%}<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

{{ 'carousel.autoplay.umd.js' | asset_url | script_tag }}



<script defer="defer">
  const bv_AsrecommendedbyCarousel = new Carousel(document.querySelector('#bv_AsrecommendedbyCarousel'), {
  Autoplay: {
          timeout: 1000
        },
        infinite: true,
        Dots: false,
        friction: 0.88,
        slidesPerPage: 1,
    
        Navigation: false,
        Dots: false
      });
                          
      document.addEventListener('DOMContentLoaded', function () {
          bv_AsrecommendedbyCarousel.plugins.Autoplay.start();
                  })
      document.addEventListener("shopify:section:load", function (event) {
          bv_AsrecommendedbyCarousel.plugins.Autoplay.start();
                });</script>



{% schema %}
  {
    "name": "As recommended by",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "bv_Asrecommendedby",
        "name": "Icon",
        "settings": [
          {
            "type": "html",
            "id": "bv_AsrecommendedbyIconhtml",
            "label": "Add bv_iconSlider Image icon",
            "info": "add your svg here"
          }, {
            "type": "image_picker",
            "id": "bv_AsrecommendedbyIcon",
            "label": "Add bv_Asrecommendedby Image icon"
          }, {
            "type": "range",
            "id": "bv_figure_width",
            "default": 20,
            "label": "set image container width",
            "max": 100,
            "min": 0,
            "step": 1
          }, {
            "type": "range",
            "id": "bv_mobile_figure_width",
            "default": 100,
            "label": "set image container width for mobile",
            "max": 100,
            "min": 0,
            "step": 1
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "richtext",
        "id": "bv_AsrecommendedbyText_heading",
        "default": "<p>As recommended by</p>",
        "label": "Add bv_Asrecommendedby Heading"
      }, {
        "type": "range",
        "id": "bv_Asrecommended_font_size",
        "default": 24,
        "label": "set font size",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "As recommended by",
        "blocks": [
          {
            "type": "bv_Asrecommendedby"
          }, {
            "type": "bv_Asrecommendedby"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}