<section id="bv_iconSlider-{{ section.id }}"class=""data-section="{{ section.id }}"style="background-color: #FFFFFF;">{%- comment -%}
  style sheet
  {%- endcomment -%}{{ 'bv_Asrecommendedby.css' | asset_url | stylesheet_tag }}
  {{ 'bv_common_css.css' | asset_url | stylesheet_tag }}
  {%- comment -%}
  add slider js
  {%- endcomment -%}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />{%- comment -%}
    style sheet
    {%- endcomment -%}<div
    class="bv_AsrecommendedbyContainer"
    id="bv_AsrecommendedbySection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="Asrecommendedby"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}">
    <div class="bv_Asrecommendedby">
      <div class="bv_AsrecommendedbyTitle">
        <h4 style="width: max-content; font-size:{{- section.settings.bv_Asrecommended_font_size -}}px">
          {{ section.settings.bv_AsrecommendedbyText_heading }}
        </h4>
      </div>
      <div class="bv_AsrecommendedbySlider">
        <div id="bv_AsrecommendedbyCarousel" class="carousel text-lg">
          <div class="carousel__viewport px-20">

            {% for block in section.blocks %}
              <figure class="carousel__slide " style="width: 20%;">
                {% if block.settings.bv_AsrecommendedbyIcon %}
                  <img
                    srcset="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: block.settings.image_width }}, {{ block.settings.bv_AsrecommendedbyIcon | image_url: width: image_size_2x }} 2x"
                    src="{{ block.settings.bv_AsrecommendedbyIcon | image_url: width: 50 }}"
                    alt="{{ block.settings.bv_AsrecommendedbyIcon.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.bv_AsrecommendedbyIcon.width }}"
                    height="{{ block.settings.bv_AsrecommendedbyIcon.height }}"
                    style="max-width: min(100%, {{ block.settings.image_width }}px);">
                {% else %}
                  <img src="https://i.ibb.co/xf7tB5N/Screenshot-2022-12-05-213717.png" alt="">
                {% endif %}
              </figure>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- comment -%}
add slider js
{%- endcomment -%}<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

{{ 'carousel.autoplay.umd.js' | asset_url | script_tag }}



<script defer="defer">
  const bv_AsrecommendedbyCarousel = new Carousel(document.querySelector('#bv_AsrecommendedbyCarousel'), {
  Autoplay: {
                                          timeout: 1000
                                        },
                                        infinite: true,
                                        Dots: false,
                                        friction: 0.88,
                                        slidesPerPage: 1,
                                    
                                        Navigation: false,
                                        Dots: false
                                      });
          
            document.addEventListener('DOMContentLoaded', function () {
               bv_AsrecommendedbyCarousel.plugins.Autoplay.start();
                        })
            document.addEventListener("shopify:section:load", function (event) {
               bv_AsrecommendedbyCarousel.plugins.Autoplay.start();
                      });</script>



{% schema %}
  {
    "name": "bv_Asrecommendedby",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "bv_Asrecommendedby",
        "name": "bv_Asrecommendedby",
        "settings": [
          {
            "type": "text",
            "id": "bv_bv_Asrecommendedby__title",
            "default": " bv_Asrecommendedby",
            "label": "Add bv_Asrecommendedby Title"
          }, {
            "type": "image_picker",
            "id": "bv_AsrecommendedbyIcon",
            "label": "Add bv_Asrecommendedby Image icon"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "bv_AsrecommendedbyText_heading",
        "default": "As recommended by headline goes here",
        "label": "Add bv_Asrecommendedby Heading"
      }, {
        "type": "range",
        "id": "bv_Asrecommended_font_size",
        "default": 24,
        "label": "set font size",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "As recommended by"
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}