<section id="EmotiveHeadline-{{ section.id }}"class=""data-section="{{ section.id }}"style="background-color: #FFFFFF;">{%- comment -%}
  style sheet
  {%- endcomment -%}{{ 'bv_common_css.css' | asset_url | stylesheet_tag }}
  {% style %}

    .EmotiveHeadlineImg {
      max-width: 350px;
      margin: 1em auto;
    }
  {% endstyle %}
  {%- comment -%}
  style sheet
  {%- endcomment -%}
  <div
    class="EmotiveHeadlineContainer"
    id="EmotiveHeadlineSection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="EmotiveHeadline"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}"
    {{ block.shopify_attributes }}>
    <div class="bv_headingContainer">
      {%- comment -%}
      add rating here
      {%- endcomment -%}

      <h2 class="bv_heading">{{ section.settings.bv_heading }}</h2>
      <p class="bv_subheading">{{ section.settings.bv_subheading }}<</p>

      <a href="{{ section.settings.bv_addTocartBtnurl }}">
        <button class="bv_addTocartBtn">{{ section.settings.bv_addTocartBtnText }}</button>
      </a>
      <div class="EmotiveHeadlineImg">
       {% if section.settings.EmotiveHeadlineImg %}
          <img 
          src="{{ section.settings.EmotiveHeadlineImg | image_url: '900x' }}"
          height=""
          width="900"
          loading="lazy"
          alt="">
        {% else %}
          <img
          src="https://i.ibb.co/YNm9FKZ/checkoutimagejpg.jpg"
          height=""
          width="900"
          loading="lazy"
          alt="">
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "EmotiveHeadline",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "bv_heading",
        "default": "Emotive headline goes here",
        "label": "Add Emotive headline"
      },
      {
        "type": "richtext",
        "id": "bv_subheading",
        "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam omnis, provident officia, ipsam a dignissimos, odio minus quis unde laboriosam eveniet? Provident </p>",
        "label": "Add Emotive Sub Headline"
      },
      {
        "type": "text",
        "id": "bv_addTocartBtnText",
        "default": "Add to cart",
        "label": "Add Emotive Button Text"
      },
      {
        "type": "url",
        "id": "bv_addTocartBtnurl",
        "label": "Add Emotive Button link"
      }, {
        "type": "image_picker",
        "id": "EmotiveHeadlineImg",
        "label": "Add Emotive Image here"
      }
    ],
    "presets": [
      {
        "name": "EmotiveHeadline",
        "settings": {}
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}