<section class="bv_pageWidth"
  id="faq-{{ section.id }}"
  class=""
  data-section="{{ section.id }}"
  style="background-color: #FFFFFF;">{%- comment -%}
    style sheet
    {%- endcomment -%}{{ 'bv_common_css.css' | asset_url | stylesheet_tag }}
  {%- comment -%}
  style sheet
  {%- endcomment -%}<aside aria-label="Accordion-collapsible" {{ block.shopify_attributes }}>
    <div
      class="faqContainer"
      id="faqSection-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-section-type="faq"
      data-enable-history-state="true"
      data-ajax-enabled="{{ settings.enable_ajax }}"
      {{ block.shopify_attributes }}>
      <div class="faqTextContainer one_half_column">
        <div class="faqText">
          <h2 style="margin-bottom:{{- section.settings.bvFAQ_Title_margin -}}px; font-size: {{- section.settings.bvFAQ_fontsize -}}px">{{ section.settings.bv_faqText_heading }}</h2>
          <p>{{ section.settings.bv_faqText_content }}</p>
        </div>
      </div>


      <div class="faqcollapsible one_half_column" style="background-color:;">
        {% for block in section.blocks %}
          <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>

            <div class="product__accordion accordion quick-add-hidden" style="margin: {{- block.settings.bvFAQ_margin -}}px 0;background-color: #E6E6E6; padding-bottom:{{- block.settings.bvFAQ_padding -}}px">
              <details id="Details-collapsible-row-1-template--14624136757325__main" {% if block.settings.bv_accordion_open %} open {% endif %}>
                <summary
                  style="padding: 10px;"
                  role="button"
                  aria-expanded="false"
                  aria-controls="ProductAccordion-collapsible-row-1-template--14624136757325__main">

                  <div class="summary__title">
                    <h2 class="accordion__title">
                      {{ block.settings.bv_accordion__title }}
                    </h2>
                  </div>

                </summary>
                <div
                  style="background-color: #fff; padding:10px;"
                  class="accordion__content rte"
                  id="ProductAccordion-collapsible-row-1-template--14624136757325__main">
                  {{ block.settings.bv_accordion_contet }}
                </div>
              </details>
            </div>
            {%- comment -%}
            <details id="Details-collapsible-row-1-template--14624136757325__main">
            <summary role="button"
            aria-expanded="false"
            aria-controls="ProductAccordion-collapsible-row-1-template--14624136757325__main">

            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </path>
            </svg>

            <img
            srcset="{{ block.settings.bv_collapsableIcon | image_url: width: block.settings.image_width }}, {{ block.settings.bv_collapsableIcon | image_url: width: image_size_2x }} 2x"
            src="{{ block.settings.bv_collapsableIcon | image_url: width: 2400 }}"
            alt="{{ block.settings.bv_collapsableIcon.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.bv_collapsableIcon.width }}"
            height="{{ block.settings.bv_collapsableIcon.height }}"
            style="max-width: min(100%, {{ block.settings.image_width }}px);">

            <div class="summary__title">
            <h2 class="h4 accordion__title">
            {{ block.settings.bv_faqText_heading }}
            Shipping &amp; Returns
            </h2>
            </div>
            </summary>
            <div class="accordion__content rte" id="ProductAccordion-collapsible-row-1-template--14624136757325__main">
            <p>{{ block.settings.bv_faqText_heading }}</p>
            </div>
            </details>
            {%- endcomment -%}
          </div>
        {% endfor %}
      </div>
    </div>
  </aside>

</section>

<script>
  let v;
  const bv_rotateIcon = (s) => {
    const ariaExpanded = s.getAttribute('aria-expanded');
    if (ariaExpanded == "false") {
      s.firstChild.classList.add('rotate45');
      s.setAttribute("aria-expanded", true)
    } else {
      s.firstChild.classList.remove('rotate45');
      s.setAttribute("aria-expanded", false)
    };
  }
</script>



{% schema %}
  {
    "name": "FAQ",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "FAQ",
        "name": "FAQ",
        "settings": [
          {
            "type": "checkbox",
            "id": "bv_accordion_open",
            "default": false,
            "label": "Keep accordion open"
          },
          {
            "type": "text",
            "id": "bv_accordion__title",
            "default": " FAQ content",
            "label": "Add FAQ Title"
          },
          {
            "type": "richtext",
            "id": "bv_accordion_contet",
            "default": "<P> FAQ content</P>",
            "label": "Add FAQ Content"
          },
          {
            "type": "image_picker",
            "id": "bv_collapsableIcon",
            "label": "Add FAQ Image icon"
          },
          {
            "type": "range",
            "id": "bvFAQ_margin",
            "default": 10,
            "label": "Add margin",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "px"
          }, {
            "type": "range",
            "id": "bvFAQ_padding",
            "default": 0,
            "label": "add padding",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "px"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "bv_faqText_heading",
        "default": "FAQ headline goes here",
        "label": "Add FAQ Heading"
      }, {
        "type": "range",
        "id": "bvFAQ_fontsize",
        "default": 24,
        "label": "Set Font size",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      }, {
        "type": "richtext",
        "id": "bv_faqText_content",
        "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam omnis, provident officia, ipsam a dignissimos, odio minus quis unde laboriosam eveniet? Provident </p>",
        "label": "Add Sub Heading"
      }, {
        "type": "range",
        "id": "bvFAQ_Title_margin",
        "default": 20,
        "label": "add margin bottom",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "FAQ",
        "settings": {},
        "blocks": [
          {
            "type": "FAQ"
          }, {
            "type": "FAQ"
          }, {
            "type": "FAQ"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}