<section class="bv_pageWidth"
  id="Transformation-{{ section.id }}"
  class=""
  data-section="{{ section.id }}"
  style="background-color: #FFFFFF;">{%- comment -%}
    style sheet
    {%- endcomment -%}{{ 'bv_common_css.css' | asset_url | stylesheet_tag }}

  {% style %}
    .TransformationCardContainer {
      display: grid;
      grid-template-columns: auto;
      column-gap: 50px;
    }
    .card {
      max-width: 500px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    .card h2 {
      /* margin: 30px auto; */

    }

    @media(min-width: 750px) {
      .TransformationCardContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 50px;
      }
    }
  {% endstyle %}

  {%- comment -%}
  style sheet
  {%- endcomment -%}
  <div
    class="TransformationContainer"
    id="TransformationSection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="Transformation"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}">
    <div class="bv_headingContainer" style="margin-bottom: {{- section.settings.bv_Transformation_container_padding -}}px;">
      <h2 class="bv_heading" style="font-size: {{- section.settings.bv_Title_font_size -}}px;margin-bottom: {{- section.settings.bv_Title_marginBottom -}}px;">
        {{ section.settings.bv_TransformationText_heading }}
      </h2>
      <p class="bv_subheading">
        {{ section.settings.bv_TransformationText_content }}
      </p>
    </div>

    <div class="TransformationCardContainer">

      {% for block in section.blocks %}
        <div class="card" {{ block.shopify_attributes }}>
          {% if block.settings.bv_transformationIcon %}
            <img
              srcset="{{ block.settings.bv_transformationIcon | image_url: width: block.settings.image_width }}, {{ block.settings.bv_transformationIcon | image_url: width: image_size2x }} 2x"
              src="{{ block.settings.bv_transformationIcon | image_url: width: 2400 }}"
              alt="{{ block.settings.bv_transformationIcon.alt | escape }}"
              loading="lazy"
              width="{{ block.settings.bv_transformationIcon.width }}"
              height="{{ block.settings.bv_transformationIcon.height }}"
              style="max-width: min(100%, {{ block.settings.bv_bv_transformationIcon_size }}px);
                                                     height:{{ block.settings.bv_bv_transformationIcon_sizeheight }}px;">
          {% else %}
            <img src="https://i.ibb.co/xf7tB5N/Screenshot-2022-12-05-213717.png" alt="">
          {% endif %}
          <h2 class="bv_2ndHeading" style="font-size: {{- block.settings.bv_sub_Title_font_size -}}px;">
            {{ block.settings.bv_Transformation__title }}
          </h2>
          <p>
            {{ block.settings.bv_Transformation_contet }}
          </p>
        </div>
      {% endfor %}

    </div>

  </div>
</section>



{% schema %}
  {
    "name": "Transformation",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "Transformation",
        "name": "Transformation",
        "settings": [
          {
            "type": "richtext",
            "id": "bv_Transformation__title",
            "default": "<p>Transformation</p>",
            "label": "Add Transformation Title"
          },
          {
            "type": "range",
            "id": "bv_sub_Title_font_size",
            "default": 24,
            "label": "set font size",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "px"
          },
          {
            "type": "richtext",
            "id": "bv_Transformation_contet",
            "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad facere sapiente dolorum nobis, numquam quisquam explicabo eius, repudiandae, laudantium ipsum corporis nisi repellat eveniet?</p>",
            "label": "Transformation content"
          },
          {
            "type": "image_picker",
            "id": "bv_transformationIcon",
            "label": "Add Transformation Image icon"
          }, {
            "type": "range",
            "id": "bv_bv_transformationIcon_size",
            "default": 50,
            "label": "set image size",
            "max": 200,
            "min": 0,
            "step": 2,
            "unit": "px"
          }, {
            "type": "range",
            "id": "bv_bv_transformationIcon_sizeheight",
            "default": 50,
            "label": "set image Height",
            "max": 200,
            "min": 0,
            "step": 2,
            "unit": "px"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "richtext",
        "id": "bv_TransformationText_heading",
        "default": "<p>Transformation headline goes here</p>",
        "label": "Add Transformation Heading"
      },
      {
        "type": "range",
        "id": "bv_Title_font_size",
        "default": 24,
        "label": "set font size",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "bv_Title_marginBottom",
        "default": 0,
        "label": "Title bottom margin",
        "max": 100,
        "min": 0,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "richtext",
        "id": "bv_TransformationText_content",
        "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam omnis, provident officia, ipsam a dignissimos, odio minus quis unde laboriosam eveniet? Provident </p>",
        "label": "Add Sub Heading"
      }, {
        "type": "range",
        "id": "bv_Transformation_container_padding",
        "default": 24,
        "label": "set bottom margin",
        "max": 200,
        "min": 0,
        "step": 2,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Transformation",
        "settings": {},
        "blocks": [
          {
            "type": "Transformation"
          }, {
            "type": "Transformation"
          }, {
            "type": "Transformation"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}