<section id="features-{{ section.id }}"class=""data-section="{{ section.id }}"style="background-color: {{ section.settings.bv_featureBgColor }}">{%- comment -%}
  style sheet
  {%- endcomment -%}{{ 'bv_features.css' | asset_url | stylesheet_tag }}

  {%- comment -%}
  style sheet
  {%- endcomment -%}<div
    class="featuresContainer"
    id="featuresSection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="features"
    data-enable-history-state="true"
    data-ajax-enabled="{{ settings.enable_ajax }}">
    <div class="featureHeadingContainer">
      <h1>
        {{ section.settings.featureHeading }}
      </h1>
      {{ section.settings.feature_sub_Heading }}
    </div>
    {% for block in section.blocks %}
      <div
        class="bv_feature_container"
        {{ block.shopify_attributes }}
        {% if block.settings.bv_feature_containerFlip %}style=" flex-direction: row-reverse;"{% endif %}>

        {% if block.settings.bv_feature_img %}
          <div class="bv_feature_img ">
            <img
              srcset="{{ block.settings.bv_feature_img | image_url: width: block.settings.image_width }}, {{ block.settings.bv_feature_img | image_url: width: image_size_2x }} 2x"
              src="{{ block.settings.bv_feature_img | image_url: width: 2400 }}"
              alt="{{ block.settings.bv_feature_img.alt | escape }}"
              loading="lazy"
              width="{{ block.settings.bv_feature_img.width }}"
              height="{{ block.settings.bv_feature_img.height }}"
              style="max-width: min(100%, {{ block.settings.image_width }}px);">
          </div>
        {% else %}
          <div class="bv_feature_img ">
            <img
              src="https://i.ibb.co/HdrtBH2/Screenshot-2022-12-04-142511.png"
              alt=""
              class=""
              width=""
              loading="lazy"
              height="">
          </div>
        {% endif %}


        <div class="bv_feature_text featurePaddingLeft">
          <h2>
            {{ block.settings.bv_feature_texttitle }}
          </h2>
          <p>
            {{ block.settings.bv_feature_textcontent }}

          </p>
        </div>
      </div>

      <span style="padding: 40px;display:block;"></span>
    {% endfor %}

  </div>
</section>


{% schema %}
  {
    "name": "Benefits",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "bv_features",
        "name": "bv_features",
        "settings": [
          {
            "type": "text",
            "id": "bv_feature_texttitle",
            "default": " FEATURES",
            "label": "Add FEATURES Title"
          }, {
            "type": "richtext",
            "id": "bv_feature_textcontent",
            "default": "<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, molestiae? </P>",
            "label": "Add FEATURES Content"
          }, {
            "type": "checkbox",
            "id": "bv_feature_containerFlip",
            "default": false,
            "label": "Flip the box"
          }, {
            "type": "image_picker",
            "id": "bv_feature_img",
            "label": "Add Button Text"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "featureHeading",
        "default": "Heading ",
        "label": "Add Headline"
      }, {
        "type": "richtext",
        "id": "feature_sub_Heading",
        "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam omnis, provident officia, ipsam a dignissimos, odio minus quis unde laboriosam eveniet? Provident </p>",
        "label": "Add Sub Headline"
      }, {
        "type": "image_picker",
        "id": "whatsIncludedImg",
        "label": "Add Button Text"
      }, {
        "type": "color",
        "id": "bv_featureBgColor",
        "label": "Add container background color"
      }
    ],
    "presets": [
      {
        "name": "Benefits",
        "settings": {},
        "blocks": [
          {
            "type": "bv_features"
          }, {
            "type": "bv_features"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}